@model ThemeParkManagementSystem.Entities.Ride


<!-- Author - Alex -->
<!-- This view allows the user to delete Rides and Ride information for the Theme Park's System-->

@{
    ViewData["Title"] = "Delete Ride";
}

<h1>Delete Ride</h1>

<h3>Are you sure you want to delete this ride?</h3>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            Name: @Model.Name<br />
            Description: @Model.Description<br />
        </p>
    </div>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
